body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    color: white;
}

#logo {
    width: 200px;
}
h1 {
    font-family: fantasy;
    font-size: 50px;
}
.link {
    color: white;
    font-family: fantasy;
    text-decoration: none;
}

.nav {
    position: fixed;
    top: 25px;
    right: 30px;
}
main {
    font-family: fantasy;
    color: white;
    background-color: rgba(20, 20, 20, 0.5);

}